<div class="navbar navbar-expand-sm">
    <!-- <p class="navbar-nav">nav-comp works!</p> -->
    <img src="../../../assets/Images/Kloudhunt Logo.png" alt="">
    <h3>Applicant Tracking System</h3>
    <ul class="navbar-nav">
        <li><a href="#" class="nav-link" routerLink="/" routerLinkActive='active'>Dashboard</a></li>
        <li><a href="#" class="nav-link" routerLink="/requirement" routerLinkActive='active'>Requirements</a></li>
        <li><a href="#" class="nav-link" routerLink="/client" routerLinkActive='active'>Client</a></li>
        <li><a href="#" class="nav-link" routerLink="/candidate" routerLinkActive='active'>Candidate</a></li>
        <li><a href="#" class="nav-link" routerLink="/employercompany" routerLinkActive='active'>Employer Company</a></li>
        <li><a href="#" class="nav-link" routerLink="/employer" routerLinkActive='active'>Employer</a></li>
        <li><a href="#" class="nav-link" routerLink="/implementation" routerLinkActive='active'>Implementation</a></li>
    </ul>
</div>